div.total-wrapper {
    max-width: 5in;
    margin-left: auto;
    margin-right: auto;
    padding-top: .2in;
}
p.explanation {
    align-content: right;
}

header {
   max-width: 5.5in;
   display: flex;
   justify-content: space-between;
   margin-bottom: .13in;
}

header h1 {
    color: white;
    background: black;
    height: .52in;
    width: 3.67in;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 7px;
    margin-right: 5px;
    flex-grow: 1;
    padding-left: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

section.sidebar {
    width: 1.3in;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: .1in;
    padding-left: .1in;
    border-right: 1px solid $black;
}

article.main {
    padding-left: .1in;
    padding-right: .1in;
    flex-grow: 1;
}

article.main h2 {
    color: white;
    background: black;
    height: .47in;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: .05in;
    padding-left: .1in;
    padding-right: .1in;
}

article.main .day .day-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

article.main .day .day-content h3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

article.main .day .day-content h3 span.time {
    margin-left: .2in;
}

article.main .day p {
    margin-left: .2in;
}
